<!DOCTYPE html>
<html>
<head>
<title>How big is Marketplace today?</title>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Timestamp');
    data.addColumn('number', 'Page Size');
    data.addColumn('number', 'Combined');
    data.addColumn('number', 'CSS');
    data.addColumn('number', 'JS');
    data.addColumn({type:'string', role:'annotation'});
    data.addColumn({type:'string', role:'annotationText'});
    data.addRows([
      {% set last_commit = None %}
      {% for entry in entries -%}
      [new Date({{ entry.time.year }},
                {{- (entry.time.month - 1) }},
                {{- entry.time.day }},
                {{- (entry.time.hour - 1) }},
                {{- (entry.time.minute - 1) }},
                {{- (entry.time.second - 1) }}),
       {{- entry.size }},
       {{- entry.with_assets }},
       {{- entry.size_css or 0 }},
       {{- entry.size_js or 0 }},
       {{ '"*"'|safe if entry.commit != last_commit else 'null' }},
       {{ '"%s"'|safe % entry.commit if entry.commit != last_commit else 'null' }}]{{ ',' if not loop.last }}
       {% set last_commit = entry.commit %}
      {%- endfor %}
    ]);

    var options = {
      title: 'Marketplace Size (bytes)',
      height: 700, pointSize: 4,
      hAxis: {title: 'Timestamp', titleTextStyle: {color: 'red'}}
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
</head>
<body><div id="chart_div"></div></body>
</html>